#addstory{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);    
    max-width: 500px;
    width: 100vw;
    max-height: 800px;
    height: 100vh;
    background-color: white;
    font-family: $font;
    padding: 10px;
    border-radius: 10px;
    z-index:4;

    h1{
        background-color: rgb(240, 240, 112);
        text-align: center;
        border-radius: 10px;
    }

    form{
        height: 80%;

       >div{
           width: 100%;
           margin: 20px auto;
       }
    }

    .error{
        background-color: rgb(192, 147, 147);
        margin-top:10px;
        border-radius: 10px;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .close{
        @include close-button;
        font-family: sans-serif;
    }

    label{
        font-size: 1.2em;
        margin-right: 10px;
    }

    [type=text]{
        border-bottom: 2px dashed black;
        width: 60%; 
        outline: none;
        font-size: 1.3em;
        font-family: $font;
    }

    [type=file]{
        font-family: $font;
    }

    #status{
        font-size: 1.2em;
        font-family: $font;
        border: 2px dashed black;
    }

    textarea{
        width: 100%;
        height: 20vh;
        max-height: 500px;
        border: 2px dashed black;
        font-family: $font;
    }

    [type=button]{
        position: fixed;
        bottom: 20px;
        left: 50%;
        font-size:2em;
        padding: 10px;
        transform: translateX(-50%);
        background-color: rgb(173, 198, 252);
        border-radius: 10px;
        font-family: $font;
    }

    .coordinates{
        @include flex(row,center,flex-start);

        .clear{
            margin-left: 10px;
            cursor: pointer;
            padding: 5px;
            background-color: rgb(255, 0, 0);
            border-radius: 5px;
        }

        .clear:hover{
            background-color: rgb(128, 192, 128);
        }
    }
}