.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 3em;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

#search-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 24px);
    max-width: 344px;
    background-color: white;
    border-radius: 10px;
    padding-right: 10px;
    margin: 12px;
    height: 2.5em;
    z-index: 1;    

    [type=text]{
        background-color: white;
        width: 80%;
        height: 2em;
        margin-left:24px;
        font-family: $font;
    }   
    
    [type=text]::placeholder{
        color: black;
    }

    .icon{
        display: inline-block;
        transform: scale(1.5);
        width: 20px;
        padding: 12px;
    }
}

#results{
    position: absolute;
    top: 3em;
    left: 0;
    padding-right: 10px;
    margin: 12px;
    z-index: 2;
    font-family: $font;

    .single-result-headline{
        background-color: rgb(238, 250, 134);
        border-radius: 10px;
        padding: 5px;
        margin:2px;
    }

    .single-result{
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        margin:2px;
        cursor: pointer;
    }
}

img.img-theme{
    position: absolute;
    bottom: 40px;
    left: 10px;
    width:40px;
    height: 40px;
    z-index: 1;
    border: 3px solid white;
    border-radius: 50%;
}

@mixin red-plus-link{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    text-decoration: none;
    @include flex(row);
    font-family: $font;
    font-size: 40px;
    color: white;
    z-index:2;
}

.add-story-link{
    @include red-plus-link;
    position: absolute;
    bottom: calc(40px + 4rem);
    left:10px;
}